body {
    width: 100vw;
    height: 100vh;
}


#micro_container {
    border: 4px solid #000000;
    text-align: center;
    width: 100%;
    height: 100%;
    margin:auto;
    background: url('https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png');
    background: url('../images/grid.jpg');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}


#block {
    height: 100%;
    width:100%;
    background: #000000;
    opacity:0.2;
}

