body {
    width: 100vw;
    height: 100vh;
}

#micro-container {
    border: 1px solid #000000;
    text-align: center;
    width: 74%;
    height: 100%;
    background: url('https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png');
    background: url('../images/leaf.jpg');
    background-repeat: no-repeat;
    float: left;
    overflow: auto;
}

.overlay {}

#overlay-top {
    width: 100%;
    height: 10%;
    background: #000000;
    opacity: 0.7;
}

#overlay-middle-row {
    height: 80%;
    width: 100%;
    
}

#overlay-middle-left {
    height: 100%;
    width: 6%;
    float: left;
    background: #000000;
    opacity: 0.7;
}

#overlay-center {
    height: 100%;
    width: 87%;
    background: none;
    float: left;
    border: 1px solid white;
    position: relative;
}

#scale-bar {
    width: 25%;
    height: 5%;
    right: 0;
    bottom: 0;
    position: absolute;
    background: white;
    color: black;
}

#overlay-middle-right {
    height: 100%;
    width: 6%;
    float: left;
    background: #000000;
    opacity: 0.7;
}

#overlay-bottom {
    height: 10%;
    width: 100%;
    background: #000000;
    opacity: 0.7;
}

#mini-view {
    width: 100%;
    height: 200px;
    border: 1px solid #000000;
    background: url('../images/leaf.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#mini-border {
border: 1px solid #ffffff;
position: relative;
top: 20px;
left: 0px;
width:10px; ;
height:10px;
}

#sidebar {
    width: 25%;
    background: #ffcccc;
    float: right;

}

#set-scalebar-button {}

#scalebar-info {}